body {
    background-color: #ffcfdd;
}


h1{
    font-family: 'Passion One', cursive;
    color: #ffffff;
    text-align: center;
}

h2{
    font-family: 'Mulish', sans-serif;

}

p{
    font-family: 'Cairo', sans-serif;
}

/* hero image */
.hero-image-container {
    max-width: 1512px;
    height: auto;
    position: relative;
}
.hero-image{
    width: 100%;
    max-height: 600px;
}
.hero-image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}