body{
    background-color: #ffcfdd;
}


h1{
    font-family: 'Passion One', cursive;
    font-size: 200px;
    color: #ffffff;
    text-align: center;
}

h2{
    font-family: 'Mulish', sans-serif;
    
}

p{
    font-family: 'Cairo', sans-serif;
}

.toast{
    font-family: 'Passion One ';
}







